.location {
    border: 2px solid brown;
    padding-left: 1rem;
    padding-bottom: 3rem;
    padding-top: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
    background: cyan;
}

.back-button {
    margin-bottom: 1rem;
}