  
.nav-bar-public {
	background-color: burlywood;
	color: white;
	position: absolute;
	top: 0;
	width: 100%;
	
}

.nav-public {
	margin-top: 1rem;
	text-align: center;
	font-size: 17px;
	

}

h1 {
	text-decoration: wavy;
	text-align: center;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	
}



ul{
	list-style-type: none;
	
}


li{
	float: right;
	padding: 5px;
}


.nav-public button {
	margin-right: 1rem;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	background-color: #21343B;
	color: #F6F6FA;
	height: 1.4rem;
	width: 6rem;
	cursor: pointer;

}

@media only screen and (max-width: 843px) {
	.nav-bar-public {
		position: absolute;
		top: 0;
		width: 100%;
		
	}

	.nav-public {
		margin-right: 3rem;
		border-top: 1px solid #21434B;
		
	}
}